<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068224636281-37tfnq36vmfr5p94k4ainddim60kudd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068224636281-37tfnq36vmfr5p94k4ainddim60kudd5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1068224636281-ver38q6g1n8g073h01rareahrd6km6ck.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0-fcM4s7IX15voMaZU9m0LlukR4muk38</string>
	<key>GCM_SENDER_ID</key>
	<string>1068224636281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prueba</string>
	<key>PROJECT_ID</key>
	<string>pokeapi-77b59</string>
	<key>STORAGE_BUCKET</key>
	<string>pokeapi-77b59.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068224636281:ios:26ecf5249938fca05dfba8</string>
</dict>
</plist>